 body{
    background-color: black;
} 

/* .card-slider {
  overflow: hidden;
  margin-top: 60px;
}

.card-track {
  display: flex;
  gap: 40px;
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
} */


.card-section {
  background: black;
  overflow: hidden;
  padding: 40px 0 80px;
}

.card-track {
  display: flex;
  gap: 30px;
  /* animation: scroll 25s linear infinite; */
  width: max-content;
}

.card {
  width: 260px;
  height: 380px;
  border-radius: 20px;
   overflow: hidden; 
    flex-shrink: 0;
  transition: transform 0.3s ease;
  
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
