@font-face {
  font-family: "Orbitron-Black";
  src: url("../fonts/Orbitron/Orbitron-Black.ttf");
}

.hero {
  background-color: #000;
  height: 865px;
  padding: 270px 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
}
.texts {
  font-family: "Orbitron-Black", sans-serif;
  font-size: 80px;
  background-color: #000;
}
.texts > p {
  color: #cbcbcb;
}
.texts > .orange {
  color: #ff6723;
}
