body {
  margin: 0;
  background: black;
}

.hero {
  height: 500px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.hero h1 {
  color: #ff6a00;
  font-size: 64px;
  font-weight: bold;
}



.hero::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  height: 200px;
  background: white;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
}
